#overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 0.5;
    z-index: 5;
  
}
#imagee{
    position: absolute;
    
    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-image: url('../../../public/Absolute_Reality_v16_logo_for_football_and_soccer_jerseys_mar_3.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;

}
#tpoverlay{
    z-index: 998;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    width: 100%;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#tpoverlay h2{
    font-size: xx-large;
    font-weight: 5000;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    
}
#tpoverlay p{
    font-size: large;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;

}
#cntr{
    position: relative;
    width: 20%;
    height: 35vh;
    overflow: hidden;
    transition:  0.5s ease-out;
    border-radius: 10px;
}

#cntr img{
    width: 100%;
    height: 100%;
    filter: grayscale(0%);
    transition: 0.5s ease;
}

#overay{
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
width: 100%;
height: 100%;
background-color: rgb(0, 0, 0,0.6);
color: white;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}


  
#scnd{
    margin-top: 1%;
    margin-bottom: 1%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}


#thrr{
    width: 100%;
    height: auto;
}

#contaie{
    width: 100%;
    height: 70vh;
    box-shadow: 0 10px 30px rgb(0, 0, 0,0.4);
    margin: 3% 0%;
    display: flex;


}

#contentt{
    width: 50%;
    height: 100%;
    background-image: url('../../../public/lionel-messi-4k-wallpaper-preview.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    transition:transform 0.5s ease-out;
}
.tswira{
    width: 100%;
    height: 100%;
    transition:  0.5s ease-out;
}
#immm{
 position: relative;
    width: 50%;
    height: 100%;
    background-image: url('../../../public/wp9333076.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s ease;
    overflow: hidden;
    
}

.over{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0,0.4);
    display: flex;
    align-items: center;
    z-index: 999;
    justify-content: center;
    transition:  0.5s ease-out;
}
.over h2{
    color: white;
    font-size: xx-large;
    font-weight: bolder;
}

#crsl{
    width: 100%;
    height: auto;

}
#item{
width: 80%;
height: 90%;
display: flex;
flex-direction: column;
padding-bottom: 10%;
margin-left: 5%;
transition: 0.5s ease-out;
border-radius: 7px;


}
#item p{
    font-weight: 600;
    font-size: larger;
}
#item:hover{
    box-shadow: 0 10px 30px rgb(0,0,0,0.5);
}
.pdng{
    padding-left: 2%;
}
#price1{
    font-size: larger;
    padding-bottom: 12%;
}

#img1{
    width: 100%;
    height: auto;
}

#crsl{
    padding-bottom: 1%;
}
/*fifth page*/
#ffth{
    width: 100%;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-around;
    background-image: url("../../../public/Etihad_Stadium.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#abt{
    width: 60%;
    z-index: 900;
    color: white;
    
    

}
#overl{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,0.5);
}
#abt p{
    font-size: larger;
    font-weight: bold;
    width: 90%;
    line-height: 40px;
    z-index: 901;
    color: white;
}
#abt h2{
    font-weight: bolder;
    font-size: xx-large;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-top: 2%;
}
#abtimg{
    width: 35%;
    height: 100%;
    z-index: 900;

}
#button{
  margin: 0% 0% 2% 5%;
   padding: 8px;
    border: 2px solid rgb(0, 106, 255);
    transition: 0.5s ease-in-out;
    cursor: pointer;
    color: white;
    display: inline-flex;
  justify-content: space-between;
    align-items: center;
   

}
#icnn{
   
    animation-name: example;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
 
}
@keyframes example {
   0% {font-size: 0;}
    100%{font-size: 10;
       
    }
  }
#button:hover{
    background-color: rgb(0, 106, 255);
    color: black;
}
/*sixth*/
#containn{
   
    position: relative;
  padding-top: 5%;
}
.carousel-container{
    position: relative;
}
.carousel-button-group{
    position: absolute;
    top: 0;
    left: 50;
    bottom: 10;
    right: 50;
    z-index: 999;
}
/*seventh*/

#containn{
width: 100%;
height: auto;
padding-bottom: 2%;
padding-left: 1%;

}
.carousel-container1{
    padding-bottom: 4%;
}
#review{
    display: flex;
    flex-direction: column;
    width: 87%;
    margin-left: 1%;
   
    box-shadow: 0 5px 10px rgb(0,0,0,0.5);
   margin-top: 1%;
    padding: 2%;
}
#quote{
align-self: self-start;
    width: 100%;
    
}
#info{
    display: flex;
    width: 100%;
    justify-content: space-between;
   padding: 0% 3%;

}
#rtname{
    display: flex;
    flex-direction: column;

}

#rtname span{
    font-size: larger;
    font-weight: bolder;
    color: rgb(0, 110, 255);
}

/* footer
*/
#frm{
    display: flex;
    flex-direction: column;
}
#frm input{
    margin-bottom: 5%;
}
.bbtn{
    margin-top: 13%;
    margin-bottom: 3%;
}
#footer{
    background-color: black;
    color: white;
}
#prt1{
    width: 25%;
    padding-left: 2%;

}
#ttlnew{
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    padding-bottom: 1%;
}
@media (max-width:992px){
    #scnd{
        flex-wrap: wrap;
        row-gap: 15px;
    }
    #cntr{
        width: 40%;
        
    }
    #crsl{
        margin-left: 2%;
     }
     #ffth{
        flex-direction: column;
        justify-content: center;
    }
    #abt{
        width: 100%;
        align-items: center;
    
    }
    #abtimg{
        width: 90%;
    }
    #abt p{
        
        width: 95%;
        padding-left: 2.5%;
    
    }
  
}
/*phone device*/
@media (max-width: 768px){

#contaie{
    flex-direction: column;
    height: auto;
    
}
#immm{
    width: 100%;
    height:  50vh
}
#contentt{
    width: 100%;
    height: 50vh
}
#scnd{
    flex-direction: column;
    row-gap: 15px;
}
#cntr{
    width: 80%;
    align-self: center;
}
#ffth{
    flex-direction: column;
    justify-content: center;
}
#abt{
    width: 100%;
    align-items: center;

}
#abtimg{
    width: 90%;
}
#abt p{
    text-align: center;
    width: 95%;
    padding-left: 2.5%;

}
#button{
    margin-left: 35%;
    
}
#item{
    box-shadow: 0 10px 30px rgb(0, 0, 0,0.4);
}
}
